[submodule ".vim/pack/devel"]
	path = .vim/pack/devel
	url = https://github.com/lifepillar/vim-devel

[submodule ".vim/pack/plugins/start/vim-highlightedyank"]
	path = .vim/pack/plugins/start/vim-highlightedyank
    url = https://github.com/machakann/vim-highlightedyank.git
